/**
 * 博客详情样式库
 * create by 小刀 2016-10-16
 * 修改记录：
 * 
 */

/**
 * 字体icon(未解决)
 */

@font-face {
  font-family: 'iconfont';
  src: url('//at.alicdn.com/t/font_1476627691_3675745.eot'); /* IE9*/
  src: url('//at.alicdn.com/t/font_1476627691_3675745.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('//at.alicdn.com/t/font_1476627691_3675745.woff') format('woff'), /* chrome、firefox */
  url('//at.alicdn.com/t/font_1476627691_3675745.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url('//at.alicdn.com/t/font_1476627691_3675745.svg#iconfont') format('svg'); /* iOS 4.1- */
}
                    
.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}

/**
 * 布局
 */
.left{
	width: 720px;
}
.right{
	width: 357px;
}

/**
 * 标题样式
 */

.left h1{
	font-size: 24px;
	line-height: 30px;
    padding: 5px 0;
}

h1,h2,h3{
	font-size: 14px;
	font-weight: 400;
}

/**
 * 博客标识样式
 */
.tip{
	position: relative;
}
.detail-hint{
	margin: 5px 0 15px;
}
.detail-hint span{
	display: inline-block;
	height: 20px;
	line-height: 20px;
	padding: 0 3px;
	color: white;
	background-color: #999;
}
.detail-hint .tip-top{
	background-color: #393D49;
}
.detail-hint .tip-jing{
	background-color: #c00;
}
.detail-hint .tip-right{
	background-color: #8FCDA0;
}

.list-hint{
	position: absolute;
	right: 0;
	top: 0;
}
.iconfont {
    -webkit-text-stroke-width: 0.2px;
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
}

/**
 * 博客发帖人详情
 */
.detail-about{
	background-color: #f2f2f2;
}