/**
 * 公共样式库
 * create by 阿杰 2016-10-14
 * 修改记录：
 * 阿杰 2016-10-15
 */

/* 公用 */
html{overflow-x: hidden; overflow-y: auto; background-color:#fff; }
html body{margin-top: 80px; }
body{line-height:24px;   -webkit-font-feature-settings: 'kern' 1; -moz-font-feature-settings: 'kern' 1; text-rendering:geometricPrecision;}
/*头部*/
.header {
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 65px;
    background-color: #393D49;
}
*{
    padding: 0;
    margin: 0;
}
/*fly样式*/
.logo{
    background: url(../images/logos.png);
    margin-left: 80px;
    top: 13px;
    display: block;
    width: 220px;
    height: 37px;
    position: absolute;
}

/*问答和框架样式*/
.icon{
    display: block;
    height: 35px;
    width: 35px;
    
}
.icon-wenhao{
    background:url(../images/icon-wenhao.svg);
    background-size: 35px 35px;
    vertical-align:middle;
}
.icon-ui{
    background:url(../images/icon-ui.svg);
    background-size: 35px 35px;
    vertical-align:middle;
}
.nav{
    position: absolute;
    width: 220px;
    height: 37px;
    left:375px;
    top: 13px;
}
.nav a {
    width: 110px;
    height: 37px;
    display: block;
    float: left;
    text-decoration: none;
    color: #999999;
}

.nav a:hover{
    animation:myfirst 2s;
}
.nav a i{
    display:inline-block;
}
.nav a span{
    margin-left: 10px;
    font-size: 13px;
}
/*登入注册样式*/
.nav-user{
    height: 37px;
    width: 280px;
    position: absolute;
    top: 13px;
    left: 940px;
}
.icon-touxiang{
    background:url(../images/icon-touxiang.svg);
    background-size: 35px 35px;
    display: inline-block;
    height: 35px;
    width: 35px;
    vertical-align:middle;  
}
.nav-user p{
    display: inline;
}
.nav-user span a {
    text-decoration: none;
    color: #999999;
    font-size: 13px;
    margin-left: 20px;
}
.nav-user span  :hover{
    color: white;
}
.nav-user span a :first{
    position: absolute;
    left: 50px;
}
.nav-user span a :nth-child(2){
    position: absolute;
    left: 100px;
}
.icon-qq{
    background:url(../images/icon-qq.svg);
    left: 155px;   
}
.icon-wb{
    background:url(../images/icon-wb.svg);
    left:215px;   
}
.navuser-icon{
    background-size: 35px 35px;
    display: inline-block;
    height: 35px;
    width: 35px;
    margin-left: 20px;
    position: absolute;
}
/*导航字体变色*/
@keyframes myfirst
{
from {color:#999999;}
to {color:#ffffff;}
}
/*主体部分*/
.main {
    width: 1085px;
    min-height: 600px;
    margin: 0 auto 15px;
}
/*标题部分*/
.page-title {
    font-size: 14px;
    margin: 20px 0 30px;
    padding: 10px 15px;
    line-height: 30px;
    border-bottom: 1px solid #DFDFDF;
}
/*尾部*/
.footer {
    margin: 50px 0 0;
    padding: 31px 0;
    line-height: 30px;
    text-align: center;
    color: #737573;
    background-color: #f2f2f2;
}
