/**
 * user样式库
 * create by 小丰2016-10-16
 * 修改记录：
 * 阿杰 2016-10-16
 */

/* 公用 */
html{overflow-x: hidden; overflow-y: auto; background-color:#fff; }
html body{margin-top: 80px; }
body{line-height:24px;   -webkit-font-feature-settings: 'kern' 1; -moz-font-feature-settings: 'kern' 1; text-rendering:geometricPrecision;}
/*头部*/
.header {
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 65px;
    background-color: #393D49;
}
*{
    padding: 0;
    margin: 0;
}
/*fly样式*/
.logo{
    background: url(../images/logos.png);
    margin-left: 80px;
    top: 13px;
    display: block;
    width: 220px;
    height: 37px;
    position: absolute;
}

/*问答和框架样式*/
.icon{
    display: block;
    height: 35px;
    width: 35px;
    
}
.icon-wenhao{
    background:url(../images/icon-wenhao.svg);
    background-size: 35px 35px;
    vertical-align:middle;
}
.icon-ui{
    background:url(../images/icon-ui.svg);
    background-size: 35px 35px;
    vertical-align:middle;
}
.nav{
    position: absolute;
    width: 220px;
    height: 37px;
    left:375px;
    top: 13px;
}
.nav a {
    width: 110px;
    height: 37px;
    display: block;
    float: left;
    text-decoration: none;
    color: #999999;
}

.nav a:hover{
    animation:myfirst 2s;
}
.nav a i{
    display:inline-block;
}
.nav a span{
    margin-left: 10px;
    font-size: 13px;
}
/*账户设置退了*/
.nav-user{
    height: 37px;
    width: 350px;
    position:absolute;
    top: 13px;
    left: 940px;

}
.icon-yhtouxiang{
    background:url(../images/icon-yonghutx.svg);
    background-size: 35px 35px;
    display: inline-block;
    height: 35px;
    width: 35px;
    vertical-align:middle;  


}
.nav-user-shezhi-incon{
    display: block;
    height: 35px;
    width: 35px;    
}
.nav-user-shezhi a:hover{
    animation:myfirst 2s;
}


.incon-shezhi{
    background:url(../images/icon-shezhi.svg);
    background-size: 35px 35px;
    vertical-align:middle;
    }
.incon-guanbi{
    background:url(../images/icon-guanbi.svg);
    background-size: 35px 35px;
    vertical-align:middle;
      
}

.nav-user-shezhi{
    position: absolute;
    width: 185px;
    height: 37px;
    left: 150px; 
    top:0px; 
    
   

}

.nav-user-shezhi a {
    width: 90px;
    height: 37px;
    display: block;
    float: left;
    text-decoration: none;
    color: #999999;

}

.nav-user-shezhi a i{
    display:inline-block;
}
    
.nav-user-shezhi a span{
    margin-left: 10px;
    font-size: 13px;
}
/*css3的字体变化*/
@keyframes myfirst
{
from {color:#999999;}
to {color:#ffffff;}
}
/*主体部分*/
.main {
    width: 1085px;
    min-height: 600px;
    margin: 0 auto 15px;
}
/*标题部分*/
.page-title {
    font-size: 14px;
    margin: 20px 0 30px;
    padding: 10px 15px;
    line-height: 30px;
    border-bottom: 1px solid #DFDFDF;
}
/*尾部*/
.footer {
    margin: 50px 0 0;
    padding: 31px 0;
    line-height: 30px;
    text-align: center;
    color: #737573;
    background-color: #f2f2f2;
}
